<% layout('layouts/boilerplate') -%>
<div class="row">
        <div class="col-8 mt-3">
            <h3><%= listing.title %></h3>
        </div>
<div class="card col-6">
    <img src="<%= listing.image.url%>" class="card-img-top show-image" alt="listing_image">
  <div class="card-body">
    <p class="card-text">
        <b><%= listing.title %></b> <br>
        <p>Owned By- @<i><%= listing.owner.username %></i></p>
        <%= listing.description %> <br>
        &#8377 <%= listing.price.toLocaleString("en-IN") %> <br>
        <%= listing.location %> <br>
        <%= listing.country %> <br>
    </p>
  </div>
</div>

<% if(currUsr && currUsr._id.equals(listing.owner._id)) {%>
<div class="btns">
    <div class="col-1">
    <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark">Edit</a>
</div>
<div class="col-1 mt-1">
    <form method="POST" action="/listings/<%= listing._id%>?_method=DELETE">
        <button class="btn btn-dark">Delete</button>
    </form>
</div> 
</div>
<% } %>
<hr>   
<br>
</div>
